.details-card {
    display: flex;
    gap: 30px;
    /* max-width: 1300px; */
    max-width: 900px;
    justify-content: center;
    align-self: center;
    margin: 40px auto;
    align-content: center;
    color: rgb(173, 173, 173);

}

.detail-left {
    display: flex;
    flex-direction: column;
    /* margin-left: 200px; */

    height: 415px;
}
.detail-right {

    display: flex;
    margin: 40px 0;
    padding: 0;
    flex-flow: column wrap;
    width: 50%;
    height: 375px;
    gap: 20px;
}
.detail-right h2{
    margin: 0;
    color: black;
    word-wrap: normal;

}
.detail-right h3{
    margin: 0;

}

.group-organizer {
    margin: 0;
}

.detail-num-events {
    display: flex;
    gap: 10px;
}
.detail-img {
    width: 550px;
    height: 500px;
}

.join-group-btn{
    display: flex;
    border: #01558A solid 1px;
    margin-top: auto;

}
.back-btn{
    background: none;
    text-decoration:underline;
    border: none;
    color: #01558A;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 10px -5px;
}
.back-btn:hover{
    background: none;
    border: none;
    color: #FABA55;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 10px -5px;
}

.bottom-of-all {
    background-color: #efefef74;
    width: 100%;
    margin: 0;
    border: #efefef74 solid 1px;
}
.details-btm {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 900px;
    justify-content: center;
    align-self: center;
    margin: 10px auto;
    align-content: center;
    background-color: gr;
    /* height: auto; */

}

.details-btm p {
    font-size: 1rem;
}


.evnt-cards{
    color: black;
    text-decoration: none;
    background: none;
    background-color: white;
    width: 450px;
    display: flex;
    flex-direction: column;
    padding: 20px 10px;
    /* margin-top: 30px; */
    border-radius: 20px;
    height: 200px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.card-top {
    display: flex;
    gap: 20px;
    align-items: center;

    margin-bottom: 10px;

}
.card-img {
    width: 200px;
    height: 100px;

}
.card-right {
    font-size: small;
}
.card-right p {
    font-size: .70rem;
    color: #FABA55;
}
.past-future{
    margin-bottom: 9px;
}

.evnts-list {
    margin: 0;

    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
