/* TODO: Add sitewide styles */
ul li {
    list-style: none;
}

h1 {
    /* font-size: 24px; */
    font-weight: bold;
}
button {
    box-sizing: border-box;
    background-color: #01558A;
    color: white;
    width: fit-content;
    padding: 8px 16px;
    border-radius: 8px;
    border: 1px #01558A solid;
    box-shadow: none;
    cursor: pointer;
    font-size: 16px;
}
button:hover {
    box-sizing: border-box;
    background-color: #016bad;
    color: white;
    width: fit-content;
    padding: 8px 16px;
    border-radius: 8px;
    border: 1px #016bad solid;
    box-shadow: none;
    cursor: pointer;
    font-size: 16px;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 100;
    letter-spacing: 1px;
    margin: 0;
}

label {
    display: flex;
    flex-direction: column;
    /* margin: 40px 0; */
}

input {
    margin-top: 5px;
    width: 300px;
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid rgb(205, 205, 205);
}

.errors {
    color: red;
    font-weight: 100;
    font-size: 12px;
    margin: 4px 0;
}
h2 {
    font-size: 1.5rem;
}
