.hidden {
    visibility: hidden;
    position: absolute;

}
li {
    list-style: none;
}

.profile-dropdown {
    border: 1px black solid;
    display: flex;
    flex-direction: column;
    max-width: 14rem;
    min-width: 10rem;
    padding: 40px
}

.nav-bar {
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
}

.prof-btn:hover  {
    color: gray;
}
.prof-btn {
    border-radius: 0rem;
    font-size: 3rem;
    border: none;
    background: none;
}
